

h1 {
    background: blue;
    color: white;
}

.description {
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
    text-shadow: green 1px 0 10px;
}

.new_paragraph {
    font-size: 24px;
    text-shadow: green 1px 0 10px;
}
